<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/my_app?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.ahmed.dal.entity.Order"/>
    <mapping class="com.ahmed.dal.entity.Product"/>
    <mapping class="com.ahmed.dal.entity.ProviderUser"/>
    <mapping class="com.ahmed.dal.entity.AdminUser"/>
    <mapping class="com.ahmed.dal.entity.City"/>
    <mapping class="com.ahmed.dal.entity.DeliveryArea"/>
    <mapping class="com.ahmed.dal.entity.OrderItem"/>
    <mapping class="com.ahmed.dal.entity.Category"/>
    <mapping class="com.ahmed.dal.entity.Consumer"/>
    <mapping class="com.ahmed.dal.entity.ConsumerAddress"/>
    <mapping class="com.ahmed.dal.entity.Area"/>
    <mapping class="com.ahmed.dal.entity.Provider"/>
    <mapping class="com.ahmed.dal.entity.Branch"/>
  </session-factory>
</hibernate-configuration>
